
fastapi
python-dotenv
pydantic>=2.7.0,<3.0.0
sqlalchemy
sqlalchemy-utils
psycopg2-binary
fastapi_utils
typing-inspect
uvicorn
gunicorn
requests
waitress
pandas
loguru
fastapi-cors
python-multipart
python-dateutil
asyncio
load_dotenv